<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nc13.mappers.BoardMapper">
    <select id="selectAll" resultType="productDTO" parameterType="hashmap">
        SELECT * FROM product
        LIMIT ${startRow}, ${size}
    </select>

    <insert id="insert" parameterType="productDTO" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO product(name, description, price, image_path)
        VALUES(#{name}, #{description}, #{price}, #{imagePath})
    </insert>

    <select id="selectOne" parameterType="int" resultType="productDTO">
        SELECT * FROM product
        where product.id = #{id}
    </select>

    <select id="selectMaxRow" resultType="int">
        SELECT COUNT(*) FROM product
    </select>

    <select id="update" parameterType="productDTO">
        UPDATE product SET name = #{name},
        description = #{description},
        price = #{price},
        image_path = #{imagePath}
        WHERE id = #{id}
    </select>

    <select id="delete">
        DELETE FROM product
        WHERE id = #{id}
    </select>
</mapper>
