<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.nc13.coupang.model.UserDTO" alias="userDTO"/>
        <typeAlias type="com.nc13.coupang.model.ProductDTO" alias="productDTO"/>
        <typeAlias type="com.nc13.coupang.model.CartDTO" alias="cartDTO" />

    </typeAliases>

</configuration>